body{
    background-color: #cbd9d4;
}
.with-shadow{
    text-shadow: rgb(255, 255, 255) 0px 7px 6px;
}
span#str_before_clock, span#clock{
    color: rgb(6, 7, 249);
}
p#poem, a#poemsrc:link, a#poemsrc:visited {
    color: rgb(42, 46, 105);
}
