body{
    background-color: #bbcac5;
}
.with-shadow{
    text-shadow: #ffffff 0px 7px 6px;
}
span#str_before_clock, span#clock{
    color: rgb(6, 7, 249);
}
p#poem, a#poemsrc:link, a#poemsrc:visited{
    color:#1B3E17;
}
