body{
    background-color: #CBD9D4;
    margin: 0px;
}
.snow{
	background-image: url(../img/snowflakes.gif);
}
.with-shadow{
    text-shadow: #ffffff 0px 7px 6px;
}

div.border{
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 1;
}
div#top-decoration{
	background-image: url(../img/top_decoration.gif);
	top: -15px;
}
div#bottom-decoration{
	background-image: url(../img/snowdrift.png);
	bottom: -10px;
}

div#content{
	width: 900px;
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background-image: none;
}
p#time{
    text-align: center;
    margin-bottom: 30px;
}
span#str_before_clock, span#clock{
    font-size: 40px;
    font-style: italic;
    color: rgb(6, 7, 249);
}

img#christmas-tree{
	float: left;
}
p#poem{
    font-size: 160%;
    color:#1B3E17;
    text-align: center;
    font-style: italic;
    line-height: 1.8;
    margin-top: 70px;
}
a#poemsrc:link, a#poemsrc:visited {
	font-size: 0.5em; 
    color: rgb(166, 185, 136);
    background-color: transparent;
    text-decoration: none;
}
a#poemsrc:hover, a#poemsrc:active {
    color: red;
}
