body{
    background-color: #CBD9D4;
    margin: 0px;
    
}
.header{
    background-image: url("верхняя-веточка-с-блеском.gif");
    background-color: #CBD9D4;
    height:110px;
    width:100%;
}
.snow-up{
    background-image: url("снежинки.gif");
    height:100%;
    width:100%;
}
#main-text{
    padding-top: 0px;
    z-index: 3;
    position: relative;
}
.content{
    background-color: #CBD9D4;
    min-height:600px;
    width:64%;
    float: left;
}
.sidebar-left{
    background-color: #CBD9D4;
    background-image: url("снежинки.gif");
    min-height:600px;
    width:18%;
    float: left;
    z-index: 2;
    position: relative;
}
.sidebar-right{
    background-color: #CBD9D4;
    background-image: url("снежинки.gif");
    min-height:600px;
    width:18%;
    float: left;
    z-index: 1;
    position: relative;
}
#str_before_clock{
    text-align: center;
    font-size: 30px;
    color: #00A2BB;
    text-shadow: #ffffff 3px -5px 5px;
}
#clock{
    color: #829D07;
    text-align: center;
    font-size: 35px;
    text-shadow: #ffffff 3px -5px 5px;
}
.picture{
    float: left;
    width:35%;
    text-align:right;
}
.poem{
    font-size: 150%;
    color:#1B3E17;
    float: right;
    text-align: center;
    width: 65%;
}






















/*
html {
    background-color:#1BD9D4;  /*Сделано специально, чтобы показать, что основное не достает до краев страницы
}
body{
	font-family: "Times New Roman", serif;
}
.cbc{background-color:#CBD9D4;}

.header{
    position: relative;
    height:110px;
    width:100%;
    background-color: #CBD9D4;
    background-image: url("верхняя-веточка-с-блеском.gif");
} 
 
 
#clock{
    text-align: center;
    font-size: xx-large; 
    color: #A3111D;
}
#str_before_clock{
	font-family: Georgia;
	margin-top: 10px;
    text-align: center;
    font-size: xx-large; 
    font-style: italic ;
    color: #3602fc;
    padding-top: 0px;
} 
.poem{
    font-size: 150%;
    color:#1B3E17;
    text-align: center;
    background-image:url("Елка.png");
    background-repeat: no-repeat;
    position: right;
}
.sidebar{
    width:15%;
}
.left{
	position: absolute;
	top: 0%;
    left: 0%;
}
.right{
	position: absolute;
	top: 0%;
    left: 85%;
}
.snow{
    background-image: url("снежинки.gif");
 }
.content img.tree{
	height: 500px;
	margin-top: 10%;
	margin-left: 15%;
	position: fixed;
}

*/