body{
    background-image: url("снежинки-2.gif");
    background-color: #8696f8; 
    
}	

h1{
    text-align: center;
    font-size: xx-large; 
    font-style: italic ;
    color: #FF032B;
}

h2{
    text-align: center;
    font-size: xx-large;
    color: #3602FC;
}
