body{
	font-family: "Times New Roman", serif;
}
.cbc{background-color:#CBD9D4;}
.content{
    width:60%;
    height:100%;
} 
.sidebar{
    height:100%;
    width:20%;
}
.snow{
    background-image: url("снежинки.gif");
}
.left{
	position: absolute;
	top: 0%;
    left: 0%;
}
.center{
	position: absolute;
	top: 0%;
    left: 20%;
}
.right{
	position: absolute;
	top: 0%;
    left: 80%;
}
#str_before_clock{
	font-family: Georgia;
	margin-top: 40px;
    text-align: center;
    font-size: xx-large; 
    font-style: italic ;
    color: #3602fc;
} 
#clock{
    text-align: center;
    font-size: xx-large; 
    color: #A3111D;
}
#snow-under-header{
	height:80px;
}
